@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

/* WARNIG - FILE IS USE BY DESIGN SYSTEM & NEXTJS */
/**************************
// COLORS
**************************/
::selection {
  background-color: #C00000;
  color: #ffffff;
}

/**************************
// FONT
**************************/
h1 {
  font-family: "Roboto", sans-serif;
  color: #C00000;
  font-size: 19px;
  font-weight: 400;
}

/**************************
// MIXINS
**************************/
.baseInput {
  position: relative;
  padding: 16px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.baseInput::after {
  content: "";
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #C00000;
  transition: all 0.3s ease;
}
.baseInput--focus::after {
  width: 100%;
}
.baseInput__label {
  font-family: "Roboto", sans-serif;
  color: #2D2D2D;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5019607843);
}
.baseInput__input {
  width: 100%;
  font-family: "Abel", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  color: #C00000;
}

.boolInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.boolInput__label {
  font-family: "Abel", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.boolInput__input {
  accent-color: #000;
  width: 16px;
  height: 16px;
  font-size: 30px;
  margin-right: 10px;
}
.boolInput__input[type=checkbox] {
  margin-right: 16px;
}

.cta {
  position: relative;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}
.cta--boxed, .cta--boxed--primary, .cta--boxed--secondary {
  color: #ffffff;
  border: 1px solid #C00000;
  transition: all 0.3s ease;
  padding: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.cta--boxed::after, .cta--boxed--primary::after, .cta--boxed--secondary::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C00000;
  transition: all 0.3s ease;
}
.cta--boxed:hover, .cta--boxed--primary:hover, .cta--boxed--secondary:hover {
  color: #C00000;
}
.cta--boxed:hover::after, .cta--boxed--primary:hover::after, .cta--boxed--secondary:hover::after {
  height: 0;
}
.cta--boxed--secondary {
  border: 1px solid #000;
}
.cta--boxed--secondary::after {
  background-color: #000;
}
.cta--boxed--secondary:hover {
  color: #000;
}
.cta--boxed--secondary:hover::after {
  height: 0;
}
.cta--footerType {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.cta--goBack {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.cta--goBack__arrow {
  margin-right: 6px;
  color: #C00000;
  font-size: 18px;
}

.heroBanner {
  position: relative;
  width: 100%;
  height: 424px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.heroBanner__cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
.heroBanner__content {
  position: relative;
  max-width: 795px;
  z-index: 2;
  background-color: #ffffff;
  padding: 16px 43px;
  font-family: "Abel", sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 25px;
}
.heroBanner__content::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 94%;
  right: 3%;
  height: 1px;
  background-color: #C00000;
}
.heroBanner__content__arrow {
  color: #C00000;
}

.login {
  max-width: 710px;
}
.login__title {
  margin-bottom: 24px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__form__user {
  width: 100%;
  margin-bottom: 48px;
}
.login__form__user .baseInput:nth-child(1) {
  margin-bottom: 24px;
}
.login__form .cta {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
