@import "./designSystem.scss";

.header{
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgb(255 255 255 / 86%);
  backdrop-filter: blur(2px);
  z-index: 10;
  @include flex(row, space-between, center);
  .cta--boxed{
    margin-right: 9px;
  }
}

.footer{
  width: 100%;
  padding:  24px 74px;
  background-color: $primary-black;
  @include flex(column, flex-start, flex-start);
  @media (max-width: 780px) {
    padding:  24px 20px;
  }
  .cta--footerType{
    color: $primary-white;
    &:nth-child(2){
      margin: 24px 0;
    }
  }
  &__credential{
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 400;
    color: $primary-white;
    width: 100%;
    text-align: center;
  }
}