
@import "./designSystem.scss";

.loginPage{
  @include flex(column, center, center);
  min-height: calc( 100vh - (154px + 71px) );
  background: #F9F9F9;
  @media (max-width: 780px) {
    padding-top: 32px;
    @include flex(column, flex-start, center);

  }
  &__link{
    width: 100%;
    max-width: 358px;
    margin-bottom: 16px;
  }
  &__center{
    width: 100%;
    padding: 16px 9px;
    background-color: white;
    max-width: 358px;
    &__form{
      padding: 24px 7px 0 7px;
      .baseInput:nth-child(2){
        margin: 16px 0 24px 0;
      }
      .cta{
        width: 100%;
      }
    }
  }
}