@import "./designSystem.scss";

.registerPage{
  @include flex(column, center, center);
  .heroBanner{
    width: 100%;
    @media (max-width: 780px) {
      &__content{
        margin-left: 60px;
      }
    }
  }

  .createAccount{
    max-width: 710px;
    padding: 22px;
    margin: 32px 0 80px 0;
    &__title{
      margin-bottom: 8px;
    }
    &__form{
      @include flex(column, center, flex-start);
      &__role{
        @include textFont;
        margin-bottom: 8px;
        &__options{
          @include flex(row, flex-start, center);
          margin-bottom: 31px;
          .boolInput:first-of-type{
            margin-right: 66px ;
          }
        }
      }
      &__user{
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        .baseInput{
          width: calc(50% - 12px);
          &:nth-child(2n+1){
            margin-right: 24px;
          }
          &:nth-child(1),
          &:nth-child(2){
            margin-bottom: 16px;
          }
        }
        @media (max-width: 780px) {
          flex-direction: column;
          width: 100%;
          .baseInput{
            width: 100%;
            margin: 0;
            margin-bottom: 16px;
          }
          .cta{
            width: 100%;
          }
        }
      }
      & > .boolInput{
        margin-bottom: 33px;
      }
      .cta{
        width: calc(50% - 12px);
        align-self: end;
        @media (max-width: 780px) {
          width: 100%;
        }
      }
      &__error {
        font-family: $primary-font;
        margin: 20px 0;
        padding: 10px;
        color: white;
        width: 100%;
        background-color: #C00000FF;
        font-weight: 200;
        &__firstLabel{
          border-bottom: 1px solid white;
          margin-bottom: 10px;
        }
        span{
          font-weight: 900;
        }
      }
    }
    &__registered{
      background: #F9F9F9;
      padding: 16px;
      p{
        @include textFont
      }
      &__download{
        margin: 27px 0;
        @include flex();
        svg:not(:last-child){
          margin-right: 56px;
        }
        @media (max-width: 780px) {
          flex-direction: column;
          svg:not(:last-child){
            margin-right: 0;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

}