/* WARNIG - FILE IS USE BY DESIGN SYSTEM & NEXTJS */
/**************************
// COLORS
**************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
::selection {
  background-color: #C00000;
  color: #ffffff;
}

/**************************
// FONT
**************************/
h1 {
  font-family: "Roboto", sans-serif;
  color: #C00000;
  font-size: 19px;
  font-weight: 400;
}

/**************************
// MIXINS
**************************/
.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerPage .heroBanner {
  width: 100%;
}
@media (max-width: 780px) {
  .registerPage .heroBanner__content {
    margin-left: 60px;
  }
}
.registerPage .createAccount {
  max-width: 710px;
  padding: 22px;
  margin: 32px 0 80px 0;
}
.registerPage .createAccount__title {
  margin-bottom: 8px;
}
.registerPage .createAccount__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.registerPage .createAccount__form__role {
  font-family: "Abel", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.registerPage .createAccount__form__role__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 31px;
}
.registerPage .createAccount__form__role__options .boolInput:first-of-type {
  margin-right: 66px;
}
.registerPage .createAccount__form__user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.registerPage .createAccount__form__user .baseInput {
  width: calc(50% - 12px);
}
.registerPage .createAccount__form__user .baseInput:nth-child(2n+1) {
  margin-right: 24px;
}
.registerPage .createAccount__form__user .baseInput:nth-child(1), .registerPage .createAccount__form__user .baseInput:nth-child(2) {
  margin-bottom: 16px;
}
@media (max-width: 780px) {
  .registerPage .createAccount__form__user {
    flex-direction: column;
    width: 100%;
  }
  .registerPage .createAccount__form__user .baseInput {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }
  .registerPage .createAccount__form__user .cta {
    width: 100%;
  }
}
.registerPage .createAccount__form > .boolInput {
  margin-bottom: 33px;
}
.registerPage .createAccount__form .cta {
  width: calc(50% - 12px);
  align-self: end;
}
@media (max-width: 780px) {
  .registerPage .createAccount__form .cta {
    width: 100%;
  }
}
.registerPage .createAccount__form__error {
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
  padding: 10px;
  color: white;
  width: 100%;
  background-color: #c00000;
  font-weight: 200;
}
.registerPage .createAccount__form__error__firstLabel {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}
.registerPage .createAccount__form__error span {
  font-weight: 900;
}
.registerPage .createAccount__registered {
  background: #F9F9F9;
  padding: 16px;
}
.registerPage .createAccount__registered p {
  font-family: "Abel", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.registerPage .createAccount__registered__download {
  margin: 27px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.registerPage .createAccount__registered__download svg:not(:last-child) {
  margin-right: 56px;
}
@media (max-width: 780px) {
  .registerPage .createAccount__registered__download {
    flex-direction: column;
  }
  .registerPage .createAccount__registered__download svg:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=Register.css.map */
